# Lambda calculus

The most obvious place where we encounter lambda expressions in Python is with their 'anonymous functions', so called because you do not have to name these functions. For example, the following is an anonymous function that doubles its input:

In [1]:
lambda x: x*2

The defining of the above function corresponds with the 'lambda abstraction rule' of lambda calculus. We have given this function no input, so we get no output either. Furthermore, since the function is anonymous, we cannot reference its name and invoke it later. Instead, we should immediately supply the lambda expression with some input:

In [2]:
(lambda x: x*2)(6)

12

Python will then produce the output of this function applied to the input (corresponding to the 'application rule'). We do not need to limit ourselves to one parameter either, as this exponential growth formula shows:

In [3]:
(lambda x, g, t: x*g**t)(2,3,3)

54

we actually *can* assign a variable name to a lambda expression if we want, in which case it is just an alternative syntax for defining a function. The following two are identical functions:

In [4]:
def double_a(x):
    return x*2

double_b = lambda x: x*2

double_b(4)

8

In general, the 'normal' way is preferred. A great way to use lambda expressions is to have a regular function (that wants some argument *n*) **return** a lambda expression that involves *n*. Think of the regular function as a template for producing a family of lambda expressions depending on *n*

### Exercise 1
Define a function with at least 1 parameter that returns a lambda expression with also at least 1 parameter and uses the argument of the function. Show, with a few examples, what the function does for different inputs for the function (and the lambda expression).

In [5]:
def math(n, m):
    return (lambda x, y: x ** y)(n, m)

math(2, 3)

8

Another frequent use is for manipulating iterable data objects (like lists, dataframes, dictionaries, etc), such as with the .sort() method, or the map() and filter() functions. The map function applies an operation to every element of the data  object. For both map() and filter(), you need to wrap them with list() to actually return the mapped or filtered list; so it takes the form of *list(filter(lambda x: ..., list1))*.

### Exercise 2
Use lambda expressions and the above-mentioned functions to manipulate the data (a list of dictionaries) below as follows:
* sort the data by country
* return a filtered list that has only those entries whose 'name' starts with an A or a B
* return a filtered list that has only those entries whose 'number' is not divisible by 2 or 3
* return a list with the same values as the original, except that each 'number' entry has been doubled

In [6]:
data = [{'country': "Ukraine",'number': "3",'name': "Derek Bolton"},{'country': "United States",'number': "3",'name': "Britanney Durham"},{'country': "China",'number': "7",'name': "Rachel Dickson"},{'country': "India",'number': "4",'name': "Oren Dominguez"},{'country': "Norway",'number': "5",'name': "Keane Dean"},{'country': "New Zealand",'number': "8",'name': "Tarik Coleman"},{'country': "South Africa",'number': "3",'name': "Uriel Greene"},{'country': "China",'number': "6",'name': "Minerva Shields"},{'country': "Norway",'number': "7",'name': "Robin Butler"},{'country': "Germany",'number': "7",'name': "Stacey Nixon"},{'country': "South Africa",'number': "4",'name': "Glenna Clark"},{'country': "Australia",'number': "7",'name': "Adena Smith"},{'country': "Italy",'number': "2",'name': "Ronan Ellis"},{'country': "Chile",'number': "1",'name': "Ignatius Guy"},{'country': "Belgium",'number': "8",'name': "Barclay Lindsey"},{'country': "Peru",'number': "2",'name': "Fuller Burris"},{'country': "Ukraine",'number': "2",'name': "Kylan Witt"},{'country': "United States",'number': "1",'name': "Kitra Willis"},{'country': "Austria",'number': "6",'name': "Indigo Dillard"},{'country': "Chile",'number': "3",'name': "Benedict Powell"},{'country': "Russian Federation",'number': "9",'name': "Duncan Ware"},{'country': "Peru",'number': "7",'name': "Abra Lewis"},{'country': "China",'number': "5",'name': "Callie Cole"},{'country': "United States",'number': "0",'name': "Cedric Gates"},{'country': "Ukraine",'number': "7",'name': "Malcolm Cox"},{'country': "Brazil",'number': "6",'name': "Connor Potts"},{'country': "Sweden",'number': "7",'name': "Lyle Nguyen"},{'country': "United States",'number': "3",'name': "Rudyard Barrett"},{'country': "Costa Rica",'number': "2",'name': "Judah Brock"},{'country': "South Korea",'number': "2",'name': "Lucius Snider"},{'country': "China",'number': "1",'name': "Cassady Mcdaniel"},{'country': "Singapore",'number': "2",'name': "Allegra Baird"},{'country': "Philippines",'number': "4",'name': "Omar Burgess"},{'country': "Turkey",'number': "7",'name': "Kenyon Rosa"},{'country': "Poland",'number': "6",'name': "Yen Sargent"},{'country': "China",'number': "3",'name': "Rashad Grimes"},{'country': "Spain",'number': "7",'name': "Tamekah Gutierrez"},{'country': "Ukraine",'number': "3",'name': "Liberty Mathis"},{'country': "Mexico",'number': "3",'name': "Rylee Sharpe"},{'country': "Mexico",'number': "3",'name': "Brynn Hinton"},{'country': "Sweden",'number': "2",'name': "Quinn Berg"},{'country': "Philippines",'number': "9",'name': "Simone Tanner"},{'country': "Ireland",'number': "2",'name': "Simon Giles"},{'country': "United Kingdom",'number': "10",'name': "Zenia Coffey"},{'country': "Mexico",'number': "2",'name': "Yael Glass"},{'country': "Colombia",'number': "5",'name': "Inga Russell"},{'country': "United Kingdom",'number': "1",'name': "Brendan Pearson"},{'country': "Austria",'number': "3",'name': "Shafira Parks"},{'country': "India",'number': "9",'name': "Dante Charles"},{'country': "Sweden",'number': "8",'name': "Kylee Good"},{'country': "Canada",'number': "1",'name': "September Bryan"},{'country': "Costa Rica",'number': "5",'name': "Hakeem Flowers"},{'country': "Peru",'number': "0",'name': "Ross Moss"},{'country': "Spain",'number': "8",'name': "Bo Hardy"},{'country': "Austria",'number': "2",'name': "Davis Cardenas"},{'country': "Ireland",'number': "2",'name': "Lane Chandler"},{'country': "Ukraine",'number': "3",'name': "Mohammad Holder"},{'country': "Vietnam",'number': "8",'name': "Jonas Bryan"},{'country': "Costa Rica",'number': "0",'name': "Eve Rivas"},{'country': "Australia",'number': "4",'name': "Elton Collins"},{'country': "Norway",'number': "8",'name': "Cain Fields"},{'country': "Vietnam",'number': "0",'name': "Iliana Daniels"},{'country': "Mexico",'number': "7",'name': "Rajah Robles"},{'country': "Australia",'number': "3",'name': "Charity Conner"},{'country': "Chile",'number': "5",'name': "Kay Parsons"},{'country': "Ireland",'number': "4",'name': "Rachel Howell"},{'country': "Singapore",'number': "3",'name': "Walter Forbes"},{'country': "Colombia",'number': "1",'name': "Gray Hayden"},{'country': "Netherlands",'number': "9",'name': "Ivana Compton"},{'country': "South Korea",'number': "8",'name': "Jamal Kelly"},{'country': "Pakistan",'number': "0",'name': "Robert Cunningham"},{'country': "Spain",'number': "4",'name': "Ignatius Newman"},{'country': "Canada",'number': "8",'name': "Gisela Glenn"},{'country': "Vietnam",'number': "1",'name': "Eliana Nicholson"},{'country': "Ukraine",'number': "4",'name': "Christen James"},{'country': "France",'number': "4",'name': "Devin Spears"},{'country': "Costa Rica",'number': "3",'name': "Phelan Hodges"},{'country': "Chile",'number': "4",'name': "Stewart Coffey"},{'country': "Singapore",'number': "6",'name': "Kasper Justice"},{'country': "Italy",'number': "7",'name': "Xanthus Wilkerson"},{'country': "Italy",'number': "6",'name': "Debra Melendez"},{'country': "Germany",'number': "6",'name': "Galvin Morrison"},{'country': "Norway",'number': "10",'name': "Britanney Daniels"},{'country': "Italy",'number': "8",'name': "Steel Cantu"},{'country': "Mexico",'number': "7",'name': "Graham Ewing"},{'country': "China",'number': "3",'name': "Maia Dunn"},{'country': "Australia",'number': "3",'name': "Violet Thornton"},{'country': "Canada",'number': "5",'name': "Cleo Cardenas"},{'country': "United States",'number': "8",'name': "Castor Bowen"},{'country': "Australia",'number': "8",'name': "Wyatt Carey"},{'country': "Philippines",'number': "5",'name': "Paul Padilla"},{'country': "Costa Rica",'number': "8",'name': "Germane Welch"},{'country': "South Korea",'number': "4",'name': "Zephr Deleon"},{'country': "Russian Federation",'number': "9",'name': "Lionel Armstrong"},{'country': "Brazil",'number': "6",'name': "Eleanor Solomon"},{'country': "Nigeria",'number': "7",'name': "Rachel Woods"},{'country': "Indonesia",'number': "9",'name': "Philip Taylor"},{'country': "Brazil",'number': "7",'name': "Lilah Shelton"},{'country': "United Kingdom",'number': "3",'name': "Gillian Harrington"},{'country': "Mexico",'number': "3",'name': "Odessa Sutton"}]

In [7]:
sorted(data, key = lambda j: j['country'])

[{'country': 'Australia', 'number': '7', 'name': 'Adena Smith'},
 {'country': 'Australia', 'number': '4', 'name': 'Elton Collins'},
 {'country': 'Australia', 'number': '3', 'name': 'Charity Conner'},
 {'country': 'Australia', 'number': '3', 'name': 'Violet Thornton'},
 {'country': 'Australia', 'number': '8', 'name': 'Wyatt Carey'},
 {'country': 'Austria', 'number': '6', 'name': 'Indigo Dillard'},
 {'country': 'Austria', 'number': '3', 'name': 'Shafira Parks'},
 {'country': 'Austria', 'number': '2', 'name': 'Davis Cardenas'},
 {'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'},
 {'country': 'Brazil', 'number': '6', 'name': 'Connor Potts'},
 {'country': 'Brazil', 'number': '6', 'name': 'Eleanor Solomon'},
 {'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'},
 {'country': 'Canada', 'number': '1', 'name': 'September Bryan'},
 {'country': 'Canada', 'number': '8', 'name': 'Gisela Glenn'},
 {'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'},
 {'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'},
 {'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'},
 {'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'},
 {'country': 'Chile', 'number': '4', 'name': 'Stewart Coffey'},
 {'country': 'China', 'number': '7', 'name': 'Rachel Dickson'},
 {'country': 'China', 'number': '6', 'name': 'Minerva Shields'},
 {'country': 'China', 'number': '5', 'name': 'Callie Cole'},
 {'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'},
 {'country': 'China', 'number': '3', 'name': 'Rashad Grimes'},
 {'country': 'China', 'number': '3', 'name': 'Maia Dunn'},
 {'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'},
 {'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'},
 {'country': 'Costa Rica', 'number': '2', 'name': 'Judah Brock'},
 {'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'},
 {'country': 'Costa Rica', 'number': '0', 'name': 'Eve Rivas'},
 {'country': 'Costa Rica', 'number': '3', 'name': 'Phelan Hodges'},
 {'country': 'Costa Rica', 'number': '8', 'name': 'Germane Welch'},
 {'country': 'France', 'number': '4', 'name': 'Devin Spears'},
 {'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'},
 {'country': 'Germany', 'number': '6', 'name': 'Galvin Morrison'},
 {'country': 'India', 'number': '4', 'name': 'Oren Dominguez'},
 {'country': 'India', 'number': '9', 'name': 'Dante Charles'},
 {'country': 'Indonesia', 'number': '9', 'name': 'Philip Taylor'},
 {'country': 'Ireland', 'number': '2', 'name': 'Simon Giles'},
 {'country': 'Ireland', 'number': '2', 'name': 'Lane Chandler'},
 {'country': 'Ireland', 'number': '4', 'name': 'Rachel Howell'},
 {'country': 'Italy', 'number': '2', 'name': 'Ronan Ellis'},
 {'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'},
 {'country': 'Italy', 'number': '6', 'name': 'Debra Melendez'},
 {'country': 'Italy', 'number': '8', 'name': 'Steel Cantu'},
 {'country': 'Mexico', 'number': '3', 'name': 'Rylee Sharpe'},
 {'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'},
 {'country': 'Mexico', 'number': '2', 'name': 'Yael Glass'},
 {'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'},
 {'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'},
 {'country': 'Mexico', 'number': '3', 'name': 'Odessa Sutton'},
 {'country': 'Netherlands', 'number': '9', 'name': 'Ivana Compton'},
 {'country': 'New Zealand', 'number': '8', 'name': 'Tarik Coleman'},
 {'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'},
 {'country': 'Norway', 'number': '5', 'name': 'Keane Dean'},
 {'country': 'Norway', 'number': '7', 'name': 'Robin Butler'},
 {'country': 'Norway', 'number': '8', 'name': 'Cain Fields'},
 {'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'},
 {'country': 'Pakistan', 'number': '0', 'name': 'Robert Cunningham'},
 {'country': 'Peru', 'number': '2', 'name': 'Fuller Burris'},
 {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'},
 {'country': 'Peru', 'number': '0', 'name': 'Ross Moss'},
 {'country': 'Philippines', 'number': '4', 'name': 'Omar Burgess'},
 {'country': 'Philippines', 'number': '9', 'name': 'Simone Tanner'},
 {'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'},
 {'country': 'Poland', 'number': '6', 'name': 'Yen Sargent'},
 {'country': 'Russian Federation', 'number': '9', 'name': 'Duncan Ware'},
 {'country': 'Russian Federation', 'number': '9', 'name': 'Lionel Armstrong'},
 {'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'},
 {'country': 'Singapore', 'number': '3', 'name': 'Walter Forbes'},
 {'country': 'Singapore', 'number': '6', 'name': 'Kasper Justice'},
 {'country': 'South Africa', 'number': '3', 'name': 'Uriel Greene'},
 {'country': 'South Africa', 'number': '4', 'name': 'Glenna Clark'},
 {'country': 'South Korea', 'number': '2', 'name': 'Lucius Snider'},
 {'country': 'South Korea', 'number': '8', 'name': 'Jamal Kelly'},
 {'country': 'South Korea', 'number': '4', 'name': 'Zephr Deleon'},
 {'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'},
 {'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'},
 {'country': 'Spain', 'number': '4', 'name': 'Ignatius Newman'},
 {'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'},
 {'country': 'Sweden', 'number': '2', 'name': 'Quinn Berg'},
 {'country': 'Sweden', 'number': '8', 'name': 'Kylee Good'},
 {'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'},
 {'country': 'Ukraine', 'number': '3', 'name': 'Derek Bolton'},
 {'country': 'Ukraine', 'number': '2', 'name': 'Kylan Witt'},
 {'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'},
 {'country': 'Ukraine', 'number': '3', 'name': 'Liberty Mathis'},
 {'country': 'Ukraine', 'number': '3', 'name': 'Mohammad Holder'},
 {'country': 'Ukraine', 'number': '4', 'name': 'Christen James'},
 {'country': 'United Kingdom', 'number': '10', 'name': 'Zenia Coffey'},
 {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'},
 {'country': 'United Kingdom', 'number': '3', 'name': 'Gillian Harrington'},
 {'country': 'United States', 'number': '3', 'name': 'Britanney Durham'},
 {'country': 'United States', 'number': '1', 'name': 'Kitra Willis'},
 {'country': 'United States', 'number': '0', 'name': 'Cedric Gates'},
 {'country': 'United States', 'number': '3', 'name': 'Rudyard Barrett'},
 {'country': 'United States', 'number': '8', 'name': 'Castor Bowen'},
 {'country': 'Vietnam', 'number': '8', 'name': 'Jonas Bryan'},
 {'country': 'Vietnam', 'number': '0', 'name': 'Iliana Daniels'},
 {'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'}]

In [8]:
for i in data:
    for j in i['name']:
        if list(filter(lambda j : (j[0] == 'A'), j)):
            print(i)
        if list(filter(lambda j : (j[0] == 'B'), j)):
            print(i)

{'country': 'Ukraine', 'number': '3', 'name': 'Derek Bolton'}
{'country': 'United States', 'number': '3', 'name': 'Britanney Durham'}
{'country': 'Norway', 'number': '7', 'name': 'Robin Butler'}
{'country': 'Australia', 'number': '7', 'name': 'Adena Smith'}
{'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'}
{'country': 'Peru', 'number': '2', 'name': 'Fuller Burris'}
{'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'}
{'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'}
{'country': 'United States', 'number': '3', 'name': 'Rudyard Barrett'}
{'country': 'Costa Rica', 'number': '2', 'name': 'Judah Brock'}
{'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'}
{'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'}
{'country': 'Philippines', 'number': '4', 'name': 'Omar Burgess'}
{'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'}
{'country': 'Sweden', 'number': '2', 'name': 'Quinn Berg'}
{'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'}
{'country': 'Canada', 'number': '1', 'name': 'September Bryan'}
{'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'}
{'country': 'Vietnam', 'number': '8', 'name': 'Jonas Bryan'}
{'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'}
{'country': 'United States', 'number': '8', 'name': 'Castor Bowen'}
{'country': 'Russian Federation', 'number': '9', 'name': 'Lionel Armstrong'}

In [9]:
for i in data:
    for j in i['number']:
        if list(filter(lambda j : (int(j) % 2 > 0 and int(j) % 3 > 0), j)):
             print(i)

{'country': 'China', 'number': '7', 'name': 'Rachel Dickson'}
{'country': 'Norway', 'number': '5', 'name': 'Keane Dean'}
{'country': 'Norway', 'number': '7', 'name': 'Robin Butler'}
{'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'}
{'country': 'Australia', 'number': '7', 'name': 'Adena Smith'}
{'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'}
{'country': 'United States', 'number': '1', 'name': 'Kitra Willis'}
{'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'}
{'country': 'China', 'number': '5', 'name': 'Callie Cole'}
{'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'}
{'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'}
{'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'}
{'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'}
{'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'}
{'country': 'United Kingdom', 'number': '10', 'name': 'Zenia Coffey'}
{'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'}
{'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'}
{'country': 'Canada', 'number': '1', 'name': 'September Bryan'}
{'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'}
{'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'}
{'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'}
{'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'}
{'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'}
{'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'}
{'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'}
{'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'}
{'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'}
{'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'}
{'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'}
{'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'}

In [10]:
list(map(lambda j: (int(j['number'])*2), data))

[6,
 6,
 14,
 8,
 10,
 16,
 6,
 12,
 14,
 14,
 8,
 14,
 4,
 2,
 16,
 4,
 4,
 2,
 12,
 6,
 18,
 14,
 10,
 0,
 14,
 12,
 14,
 6,
 4,
 4,
 2,
 4,
 8,
 14,
 12,
 6,
 14,
 6,
 6,
 6,
 4,
 18,
 4,
 20,
 4,
 10,
 2,
 6,
 18,
 16,
 2,
 10,
 0,
 16,
 4,
 4,
 6,
 16,
 0,
 8,
 16,
 0,
 14,
 6,
 10,
 8,
 6,
 2,
 18,
 16,
 0,
 8,
 16,
 2,
 8,
 8,
 6,
 8,
 12,
 14,
 12,
 12,
 20,
 16,
 14,
 6,
 6,
 10,
 16,
 16,
 10,
 16,
 8,
 18,
 12,
 14,
 18,
 14,
 6,
 6]

# Recursive functions
### For any recursive function you write in this section, make clear (with comments) what your base cases and your recursive cases are.
Remember the example of the factorial function from the lecture. I will reproduce the Python code here:

In [11]:
def factorial(x):
    if x == 0: # base case
        return 1
    else: # recursive case
        return (x * factorial(x-1))


num = 6
print("The factorial of", num, "is", factorial(num))

The factorial of 6 is 720

The other example in the lecture was concerned with Fibonacci numbers.
### Exercise 1
#### a
Implement this Fibonacci function **recursively** in Python:

In [12]:
def Fibonacci(x):
    if x <= 1:
        return x
    else: 
        return (Fibonacci(x-2) + Fibonacci(x-1))
    
num = 6
print("The fibonacci of", num, "is")
for i in range(num):
    print(Fibonacci(i))

The fibonacci of 6 is
0
1
1
2
3
5

#### b
Test your function on some higher numbers. What do you notice? What do you think is causing this?

The higher number I use for input, the longer time is needed, also the outcome will appear one by one. I think the reason behind this is because the recursive steps are needed to be processed over and over again.

### Exercise 2
Write a recursive function that takes a list of integers as input and returns the maximum integer stored in the list. Thinking recursively, the maximum is either the first value in the list or the maximum of the rest of the list, whichever is larger. If the list only has 1 integer, then its maximum is this single value, naturally.

In [13]:
def maximum(originallist):
    newlist = sorted(originallist)
    
    if len(newlist) == 1:
        return newlist[0]
    else:
        if len (newlist) > 1:
            return newlist[-1]
            x = newlist[-1]
            newlist = newlist.pop(x)
            
onelist = [1,3,5,18,7]
maximum(onelist)

18

In [14]:
#solution
def max_in_list(L):
    if len(L) == 1:
        return L.pop()
    else:
        returm max(L.pop(), max_in_list(L))
        
max_in_list([2,5,68,1])

SyntaxError: invalid syntax (2000745013.py, line 6)

### Exercise 3
Write a recursive function **letterCount** that takes a string and a character as input, and returns how many times the character occurs in the string. For example, it should have the following outputs:
* **letterCount**("Julian", 'i') = 1
* **letterCount**("Ceel", 'e') = 2
* **letterCount**("Joris", 'a') = 0

In [15]:
def letterCount(string, character, index=0, count=0):
    # Base case: if we've reached the end of the string, return the count
    if index == len(string):
        return count
    # Recursive case: if the current character matches, increment count
    if string[index] == character:
        return letterCount(string, character, index + 1, count + 1)
    # Recursive case: if the current character doesn't match, continue to the next character
    else:
        return letterCount(string, character, index + 1, count)

print(letterCount('Freda', 'a'))  # will return 1

1

In [16]:
letterCount('Ceel', 'e')

2

In [17]:
letterCount('Joris', 'a')

0